@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bestbuy Database</h1>
    <p>Product Inventory Manager</p>
</div>

<style>
    body{
        background-color: lightblue;
    }
    .text-center {
        color: blue;
    }
</style>